/*stylistic elements that only load if the Coriolis model is
loaded OUTSIDE of the article.*/


td div.imperial::after, td div.metric::after, td div.percentsign::after{
	bottom:-10px;
}

table.model{
	border-spacing:0;
}

#percenttimediv::after{
	margin-bottom:0px;
	bottom:0px;
}

#gravitygs{
	bottom:0px !important;
}

