p {
	/*display:inline-block;*/
}

#textright {
	text-align:right;
}

table.model {
	margin-left:auto; 
	margin-right:auto;
}

.units {
	display:inline-block;		
}

.inputfield {
	width:73px;
	margin-left: 5px;
}

.title {
	text-align:center;
}

.smallbreak {
	height:8px;
}

.output {
	text-align:right;
	vertical-align:bottom;
}