p {
	/*display:inline-block;*/
}

.textright {
	text-align:right;
	position:relative;
	bottom:-5px;
}

.rightbold {
	text-align:right;
	font-weight:bold;
	color:#2F329F;
	padding-right:10px;
}

.rotatetitle {
	 color:#2F329F; 
	 justify-content:center; 
	 display:flex;
	 align-items: center; 
	 width:150px; 
	 height:30px; 
	 border:1px solid #000; 
	 border-radius:5px; 
	 /*margin-bottom:5px;*/
	 transform: rotate(-90deg);
	 margin:79px 0px -114px -60px;
}

@media (max-width: 989px) and (min-width: 768px)
{  .rotatetitle{
		display:none }
}

@media (max-width: 550px)
{  .rotatetitle{
		display:none }
}


@media (max-width: 450px)
{	img, .image {
		float:none !important;
	}
	
}


.border_bottom td {
	border-bottom:1px solid #000;
}
.borderright {
	text-align:right;
	border-right: 1px solid #000;
	vertical-align:middle;
	padding-top:7px;
	padding-bottom:7px;
	padding-right:10px;
}

table.model {
	margin-left:auto; 
	margin-right:auto;
}

.hide {
	display:none;
}

.units {
	display:inline-block;		
}

.inputsquare {
	display:inline-block;
	margin-right:10px;
}

.inputfield {
	width:70px;
	margin-left: 5px;
}

.title {
	text-align:center;
}

.smallbreak {
	height:8px;
}

.output1 {
	/*text-align:right;*/
	vertical-align:bottom;
	margin-bottom:0px;
	display:inline-block;
}

.output2 {
	/*text-align:right;*/
	vertical-align:bottom;
	margin-bottom:0px;
	/*display:inline-block;*/
}

/* won't work */
input#up:checked ~ #vel{ display:none; }
input#up:checked ~ #ang{ display:none; }
input#anglevel:checked ~ #up{ display:none; }

div.imperial, div.metric, div.percentsign{
	margin-top:18px;
	margin-bottom:-5px;
	display:inline-block;
	position:relative;
}

div.imperial::after, div.metric::after, div.percentsign::after{
	  margin-left: -35px;
	  margin-bottom:10px;
	  position:absolute;
	  bottom:4px;
	  color:DimGrey;
}

div.degree::after {
	margin-left: -30px;
	position:relative;
	bottom:4px;
	color:DimGrey;
}

div.imperialvel::after, div.metricvel::after{
	margin-left: -45px;
	margin-right: 17px;
	position:relative;
	bottom:4px;
	color:DimGrey;
}

div.percentsign::after{ content: "%"; }
div.imperial::after{ content: "ft"; }
div.metric::after{ content: "m"; }
div.metricvel::after{ content: "m/s"; }
div.imperialvel::after{ content: "ft/s"; }
div.degree::after{ content: "°"; }
div.degree { width:79px; }

#gravitygs {
	position:relative;
	bottom:4px;
}

#calculations{
	text-align:center;
}

#centersmall {
	width:340px;
	margin:0 auto;
}

@media (max-width: 350px)
{
	#centersmall {
		width:auto;
		max-width:340px;
	}
}

.geigercontrols {
	text-align:right;
	color:#CE0D45;
	font-weight:bold;
}

.answer {
	margin-bottom:20px;	
}

#canvascontainer {
	max-width:450px;
	width:inherit;
	overflow: hidden;
	margin:auto;
}