p {
	/*display:inline-block;*/
}

#textright {
	text-align:right;
	position:relative;
	bottom:-5px;
}

table.model {
	margin-left:auto; 
	margin-right:auto;
}

.units {
	display:inline-block;		
}

.inputfield {
	width:80px;
	margin-left: 5px;
}

.title {
	text-align:center;
}

.smallbreak {
	height:8px;
}

.output {
	text-align:right;
	vertical-align:bottom;
	margin-bottom:0px;
}

div.imperial, div.metric, div.percentsign{
	margin-top:18px;
	margin-bottom:-5px;
	display:inline-block;
	position:relative;
}

div.imperial::after, div.metric::after, div.percentsign::after{
	  margin-left: -38px;
	  margin-bottom:10px;
	  position:absolute;
	  bottom:4px;
	  color:DimGrey;
}

div.percentsign::after{
	content: "%";
}

div.imperial::after{
  content: "ft";
}

div.metric::after{
  content: "m";
}

#gravitygs {
	position:relative;
	bottom:4px;
}

.geigercontrols {
	text-align:right;
	color:#CE0D45;
	font-weight:bold;
}

.answer {
	margin-bottom:20px;	
}