* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #BCCE98;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  /*color: white;*/
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 25%;
  /* height: 300px; only for demonstration, should be removed */
  background: #DAE9BC;
  padding: 20px;
	margin-bottom: -2000px;
	padding-bottom: 2000px;
  
}

#wrapper {
	float: left;
/*	padding-left: 200px;
	padding-right: 125px; */
	overflow: hidden;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 75%;
  background-color: #F7FDEB;
  /* height: 300px; only for demonstration, should be removed */
}

a {
	text-decoration:none;
}

iframe {
  /*float:right;*/
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #BCCE98;
  padding: 5px;
  text-align: center;
  color: white;
  z-index:1;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}