
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{SITEURL}}/theme/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
        <script>$('body').popover || document.write('<script src="{{site.url}}/assets/js/vendor/bootstrap.min.js"><\/script>')</script>

        <script src="{{site.url}}/assets/js/jquery.captions.js"></script>
        <script src="{{site.url}}/assets/js/vendor/jquery.colorbox-min.js"></script>

        <script src="{{site.url}}/assets/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','{{site.GOOGLE_ANALYTICS_CODE}}'],['_trackPageview'],['_trackPageLoadTime'],['_gat._anonymizeIp']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
