                <div class="span3">
                    <aside class="affix">
                        <div id="sidebar">
                            <div id="social-icons">
                                {% if site.GITHUB_URL %}
                                    <span class="social-icon">
                                        <a href="{{site.GITHUB_URL}}" target="_blank" title="GitHub">
                                            <i class="icon-github-alt"></i>
                                        </a>
                                    </span>
                                {% endif %}
                                {% if site.LINKEDIN_URL %}
                                    <span class="social-icon">
                                        <a href="{{site.LINKEDIN_URL}}" target="_blank" title="LinkedIn">
                                            <i class="icon-linkedin"></i>
                                        </a>
                                    </span>
                                {% endif %}
                                {% if site.TWITTER_URL %}
                                    <span class="social-icon">
                                        <a href="{{site.TWITTER_URL}}" target="_blank" title="Twitter">
                                            <i class="icon-twitter"></i>
                                        </a>
                                    </span>
                                {% endif %}
                                {% if site.GOOGLE_URL %}
                                    <span class="social-icon">
                                        <a href="{{site.GOOGLE_URL}}" target="_blank" title="Google">
                                            <i class="icon-google-plus"></i>
                                        </a>
                                    </span>
                                {% endif %}
                                {% if site.FACEBOOK_URL %}
                                    <span class="social-icon">
                                        <a href="{{site.FACEBOOK_URL}}" target="_blank" title="Facebook">
                                            <i class="icon-facebook"></i>
                                        </a>
                                    </span>
                                {% endif %}
                                {% if site.FLICKR_URL %}
                                    <span class="social-icon">
                                        <a href="{{site.FLICKR_URL}}" target="_blank" title="Flickr">
                                            <i class="icon-camera"></i>
                                        </a>
                                    </span>
                                {% endif %}
                            </div>

                            <div id="navigation">
                                {% include navigation.html %} <!-- LINKS -->
                            </div>
                        </div> <!-- sidebar -->

                        <p id="back-to-top">
                            <a href="#">
                                <i class="icon-double-angle-up"></i> Back to top
                            </a>
                        </p>

                    </aside>
                </div> <!-- logo+navigation span -->

