.text1 {font-size:18px;}
.leaflet-right .leaflet-control {
    margin-right: 10px;
    top: 25px;
}
element.style {
    
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    text-align: left;
    width: 841px;
    height: 298px;
    padding: 0px;
    touch-action: auto;
    cursor: default;
}

.myCSSClass {
  width: auto;
  height:auto;
  font-size: 40px;
  border: 2px solid cyan
}

body {
  font-family: Lato;
  font-size: 12px;
}
#chartdiv {
    width: 174%;
    height: 346px;
    border: 2px solid #eee;
    border-bottom: none;
    overflow: scroll;
}

#chartdata {
  width: 900px;
  max-width: 100%;
  border: 2px solid #eee;
  border-top: none;
}

#chartdata * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#chartdata table {
  width: 100%;
  border-collapse: collapse;
}

#chartdata table th,
#chartdata table td {
  text-align: center;
  padding: 3px 2.2px;
}

#chartdata table th {
  background: #999;
  color: #fff;
}

#chartdata table td {
  border: 1px solid #eee;
}

#chartdata table td.row-title {
  font-weight: bold;
  width: 150px;
}

#chartdata tr:hover td {
  background: #eee;
  cursor: pointer;
}

#map {position: fixed; 
bottom:0; 
top:50px; 
width:100%; 
height: 
100%;left: 0; 
z-index: -10;}

.maindiv {
	    z-index: 9999;
	position:absolute;
bottom:5px;
width:99%;}

.leaflet-left .leaflet-control {
    margin-left: 10px;
    margin-top: 30px;
}



.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  line-height:18px;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: left;
  padding-left: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



		.info {
    padding: 16px 18px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend {
	font-size: 18px;
	background-color: "black";
    line-height: 20px;
    color: #555;
    width: auto;
}
.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}



@media (max-width: 768px) {

#mob {display:inline-block;}

#d {position: absolute;
z-index: 5000;
bottom: 35px;
right: 49%;}

#d input {line-height:30px;
margin: 8.5px;}


}
