h1 { 
	font-size:300%;
	font-family:"Lucida Console","Lucida Sans Typewriter", "Trebuchet MS"; 
	 color:black; /*#ff4400; is orange */
	-webkit-text-fill-color: black; /* overrides "color" */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: blue;
	text-align:center;
	position:relative;
}

h3 {
	font-size: 150%;
	font-family:"Lucida Console","Lucida Sans Typewriter", "Trebuchet MS"; 
	position:relative;
	
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	color:transparent;
	-webkit-background-clip: text;
	background-clip: text;
	text-align:center;
}

h2 {
	
	margin-top:2.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Calibri Light",sans-serif;
	color: 0079FF; /*#2E74B5;*/
	font-weight:normal;
}

.WordSection1 {
	max-width:675px;
	padding:15px;
	margin-top:-1px;
	padding-bottom:400px;
	background-color:#EAFCFF;
	border: 2px solid black;
	border-radius:30px;	
}

#titlepic{
	width:705px; 
	height:156px;
}



.normal {
	margin-bottom:12.0pt;
	font-family: "Times New Roman";
}

.ListParagraphCxSpFirst {
	margin-bottom:12.0pt;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-family:"Times New Roman",serif;
}

.ListParagraphCxSpMiddle {
	margin-bottom:12.0pt;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-family:"Times New Roman",serif;
}

/* If you make the screen skinny */
@media only screen and (max-width : 800px) {
	.WordSection1{
		width:98%;
		max-width:none;
		background-color:#EAFCFF;
		border:none;
		border-radius:0px;

	}
	
	#titlepic{
		width:98%;
		height:none;
	}
}


/* samsung s7 portrait*/
@media 
    (-webkit-min-device-pixel-ratio: 3)
    and (min-resolution: 192dpi)and (max-width:640px){
	.WordSection1{
		width:98%;
		max-width:none;
		background-color:#EAFCFF;
		border:none;
		border-radius:0px;

	}
	
	#titlepic{
		width:98%;
		height:156px;
	}


}

/* samsung s7 landscape*/
@media 
    (-webkit-min-device-pixel-ratio: 3) 
    and (min-resolution: 192dpi){
	.WordSection1{
		width:98%;
		max-width:none;
		background-color:#EAFCFF;
		border:none;
		border-radius:0px;

	}
	
	#titlepic{
		width:98%;
		height:156px;
	}
}